#sidebar {
   position: absolute;
   top: 0;
   left: -200px;
	opacity: 0;
   width: 30%;
   height: 100vh;
   transition: 0.5s;
   border-right: 1px solid white;
   background-color: rgb(11, 11, 11);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#sidebar-open {
   position: absolute;
   top: 0;
   left: 0;
   width: 30%;
   height: 100vh;
   transition: 0.5s;
   border-right: 1px solid white;
   background-color: rgb(11, 11, 11);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.sidebar-title {
   color: white;
   font-size: 3rem;
}
.list {
   margin-top: 20px;
   gap: 10px;
   display: flex;
   align-items: start;
   justify-content: space-evenly;
   flex-direction: column;
   width: 60%;
   height: 50%;
}
.list-element {
   color: white;
   text-decoration: none;
   font-size: 20px;
}
