#register {
   height: 100vh;
   width: 100%;
   background-color: black;
}
.register-container {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#register h1 {
   color: white;
}
.register-input-container {
   width: 40%;
   height: 38%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 8px;
}
.input {
   width: 90%;
   height: 70px;
   border-radius: 10px;
   border: white solid 1px;
   font-size: 20px;
   padding: 0 15px;
   background-color: black;
   color: white;
}
.input::placeholder {
   color: white;
   font-size: 18px;
   font-weight: 500;
}
.register-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15%;
   height: 60px;
   border-radius: 20px;
   border: white solid 1px;
   color: white;
   font-size: 18px;
   text-align: center;
   text-decoration: none;
   background-color: transparent;
}


@media (max-width: 1200px) {
   .input-container {
      width: 70%;
   }
   .link {
      width: 30%;
   }
}
@media (max-width: 650px) {
   .input-container {
      width: 80%;
      height: 50%;
   }
   .link {
      width: 50%;
      height: 80px;
   }
}
@media (max-width: 360px) {
   .link {
      width: 70%;
   }
}
